body {
  margin: 0;
   
}

div {
  background-size: cover;
}

.navbar {
  display: flex;
}

main {
  flex-grow: 1;
  padding: 80px 20px;
  padding-top: 100px;
}

.home-container {
  margin: 1px;
  padding: 20px;
  border: 2px solid #64704385;
  border-radius: 100px;
  background-image: url(./IMG_1347.jpeg);
  background-size: contain;
  background-position:bottom;
  
    
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center; 
  
    
}

.home h1 {
  font-size: 2rem;
   
}

.welcome-message {
  background-image: url('./humanit.png'); 
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  color: rgb(191, 172, 172);
  text-align: center; 
  height: 280px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-message a {
  color: rgb(21, 21, 17);
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.about-link {
  margin-top: 30px; 
}

.testimonies-container {
  background:-moz-linear-gradient(to right, #b1c0ca, rgb(192, 171, 181));
  display:block;;
  width: 50%; 
  border-radius: 70px;
  justify-content: space-between; 
}

.testimonies {
  background: linear-gradient(to right, #b1c0ca, rgb(216, 212, 219));
  margin-bottom: 70px;
  padding: 30px;
  text-align:justify;
  width: calc(70% - 6px); 
  border-radius: inherit;
  
}

.how-did-we-do {
  width: calc(50% - 170px); 
  
}

.partnered-with,
.join-us {
  flex: 1 1 45%;
  min-width: 300px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
}

.partnered-with {
  text-align: center;
  border: 7px solid #67465b85;
}

.partnered-with h2 {
  text-decoration: underline;
}

.partnered-with ul {
  list-style-type:georgian;
  padding: 0;
}

.partnered-with li {
  display: inline-block;
  margin: 0 10px;
}

.join-us-content {
  background: linear-gradient(to right, #b1c0ca, rgb(183, 171, 192));
  padding: 25px;
  border-radius: 60px;
}

.support-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.support-links a {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #828587;
  color: rgb(32, 32, 38);
  text-decoration: none;
}

.support-links a:hover {
  background-color: #748fad;
}

h3 ,h2{
  font-size: 1em;
  margin-bottom: 30px;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
  font-family: cursive;
  text-shadow: #d4c3c3;
  text-decoration-color: #a17990d3;
  
}
p {
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
}


.navbar {
  color: rgb(37, 34, 55);
  background: linear-gradient(to right, #b1c0ca, rgb(136, 142, 94));
  padding: 1em;
  min-height: 2em;
  font-family:cursive;
  font-size: large;
  width: 95%;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  }

    
.navbar a {
  color: #150d0d;
  text-decoration: none;
  font-size: 18px;
  margin-left: 1em;
  font-weight: bold;
  margin-right: 1em;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

@media (max-width: 1024px) {
  .testimonies-container {
    flex-direction: column;
    align-items: center;
  }

  .testimonies,
  .how-did-we-do,
  .partnered-with,
  .join-us {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar a {
    margin: 5px 0;
  }

  main {
    padding: 20px;
    padding-top: 100px;
  }
}

@media (max-width: 480px) {
  .testimonies-container {
    flex-direction: column;
    align-items: center;
  }

  .testimonies,
  .how-did-we-do,
  .partnered-with,
  .join-us {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar a {
    margin: 5px 0;
  }

  main {
    padding: 20px;
    padding-top: 100px;
  }
}

footer {
  background: linear-gradient(to right, #cad1d5, rgb(71, 115, 88));
  color: #3a3838;
  padding: 1px;
  text-align: center;
  position: fixed; 
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 20px;

}

footer a {
 
  margin-right: 20px;
}


.auth-container {
  max-width: 3000px;
  margin: 8rem;
  padding: 100px;
  background-color: #e4e8ead3;
  border-radius: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.password-input-container {
  position:relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}


.form-group {
  margin-bottom: 10px;
}

label {
  display:grid;
  margin-bottom: 1px;
}


input[type=""]
 {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #828587;
  color: rgb(32, 32, 38);
  cursor: pointer;
}

button:hover {
  background-color: #748fad;
}


.about-container {
  margin: 40px;
  padding: 50px;
  border: 3px solid #b0c36b;
  border-radius: 33px;
  background-color: #ececec;
  text-align: center;
  background: linear-gradient(to right, #b1c0ca, rgb(228, 235, 230));
}

.about-section {
  margin-bottom: 20px;
  
}

.about-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9;
}

.about-box h3 {
  margin-top: 0;
}

.about-box ul {
  list-style-type: none;
  padding: 0;
}

.about-box li {
  margin-bottom: 10px;
}

.about-box img {
  width: 450px; 
  height: 350px; 
  object-fit: cover; 
  margin-bottom: 10px;
}

.resources-container {
  max-width: 4000px;
  margin: 0 auto;
  padding: 70px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr));
  grid-gap: 10px;
  background-image: url(./IMG_1346.jpeg);
  background-size: contain;
  
}

.section {
  padding: 40px;
  border: 4px solid #557a90;
  border-radius: 55px;
  
}

.section-title {
  font-size: 2rem;
  color: #432514;
  margin-bottom: 10px;
}

.section-text {
  font-size: 1rem;
  color: #0d0c0c;
  
}
