body {
  margin: 0;
}

div {
  background-size: cover;
}

.navbar {
  display: flex;
}


.home-container {
  margin: 40px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e0cfcf;
}

h1 ,h2{
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-size: 1.2em;
  line-height: 1.6;
  text-align: center;
}

.navbar {
  color: rgb(37, 34, 55);
  background: linear-gradient(to right, #b1c0ca, rgb(163, 98, 98));
  padding: 1em;
  min-height: 2em;
  font-family: 'Georgia';
  font-size: large;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  }

  .logo {
    font-size: 2rem;
    font-weight:bold;
    color: #120b0b; 
    text-shadow: 2px 2px 4px rgba(97, 82, 130, 0.96); 
  }
  
.navbar a {
  color: #150d0d;
  text-decoration: none;
  font-size: 18px;
  margin-left: 1em;
  font-weight: bold;
  margin-right: 1em;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

main {
  flex-grow: 1; 
}

footer {
  background: linear-gradient(to right, #cad1d5, rgb(160, 92, 49));
  color: #3a3838;
  padding: 2px;
  text-align: center;
  position: fixed; 
  left: 0;
  bottom: 0;
  width: 100%;
}


.auth-container {
  max-width: 3000px;
  margin: 8rem;
  padding: 100px;
  background-color: #e4e8ead3;
  border-radius: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.password-input-container {
  position:relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}



.form-group {
  margin-bottom: 10px;
}

label {
  display:grid;
  margin-bottom: 1px;
}


input[type=""]
 {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #828587;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #748fad;
}

.about-container {
  margin: 40px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ececec;
  text-align: center;
}
.access-list {
  position: absolute;
  top: 50px; /* Adjust the top position as needed */
  right:auto;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000; /* Ensure the access list appears above other elements */
}

.menu-item {
  cursor: pointer;
  margin-bottom: 10px;
}