body {
  margin: 0;
}

div {
  background-size: cover;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  display: flex;
  align-items: center;
  color: rgb(37, 34, 55);
  background: linear-gradient(to right, #b1c0ca, #6a6954);
  padding: 10px 20px;
  z-index: 1000;
  
  
}

.navbar a {
  margin: 5px 0;
}

.logo-container {
  flex: 1;
}

.logo {
  text-decoration: none;
  color: inherit;
}

.logo-text-main {
  font-family: Georgia;
  color: #120b0b;
  text-shadow: 10px 3px 4px rgba(97, 82, 130, 0.96);
}

.logo-text-sub {
  font-family: cursive;
  font-weight: bold;
}

.search-bar {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input {
  width: 60%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar button {
  padding: 5px 10px;
  margin-left: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu-icon {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.menu-list {
  position: absolute;
  top: 60px;
  right: 30px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.menu-item {
  padding: 10px 20px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #f0f0f0;
}

h3, h2 {
  font-size: 1em;
  margin-bottom: 30px;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
  font-family: cursive;
  text-shadow: #d4c3c3;
  text-decoration-color: #a17990d3;
}

p {
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
}


main {
  flex-grow: 1;
  padding: 20px;
  padding-top: 100px;
}

.home-container {
  margin: 1px;
  padding: 20px;
  border: 2px solid #64704385;
  border-radius: 100px;
  position: relative;
  
}

.home {
  display: flex;
  flex-direction: grid;
  align-items: center;
}

.home h1 {
  font-size: 2rem;
}

.welcome-message {
  background-image: url('./humanit.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  color: rgb(191, 172, 172);
  text-align: center;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-message a {
  color: rgb(21, 21, 17);
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.about-link {
  margin-top: 30px;
}

.testimonies-container {
  display: flex;
  flex-direction: column;
  background: -moz-linear-gradient(to right, #b1c0ca, rgb(192, 171, 181));
  position: relative;
  border-radius: 70px;
}

.background-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 757px; /* Adjust width as needed to fit your design */
  height: 30%;
  background-image: url('./community.jpeg');
  background-position: right;
  background-size: cover;
}

.testimonies {
  background: linear-gradient(to right, #b1c0ca, rgb(216, 212, 219));
  margin-bottom: 70px;
  padding: 30px;
  text-align: justify;
  width: calc(30% - 200px);
  border-radius: inherit;
}

.how-did-we-do {
  width: calc(40% - 70px);
}

.partnered-with,
.join-us {
  flex: 1 1 45%;
  min-width: 200px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
}

.partnered-with {
  text-align: center;
  border: 7px solid #67465b85;
}

.partnered-with h2 {
  text-decoration: underline;
}

.partnered-with ul {
  list-style-type:armenian;
  padding: 0;
}

.partnered-with li {
  display: inline-block;
  margin: 0 10px;
}

.join-us-content {
  background: linear-gradient(to right, #b1c0ca, rgb(183, 171, 192));
  padding: 25px;
  border-radius: 60px;
}

.support-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.support-links a {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #828587;
  color: rgb(32, 32, 38);
  text-decoration: none;
}

.support-links a:hover {
  background-color: #748fad;
}

h3,
h2 {
  font-size: 1em;
  margin-bottom: 30px;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
  font-family: cursive;
  text-shadow: #d4c3c3;
  text-decoration-color: #a17990d3;
}

p {
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #67465b;
  color: white;
  cursor: pointer;
}

.star-icon {
  color: #ffd700;
}

input[type="text"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 1em;
  border: 2px solid #5e3b3b;
  border-radius: 0.5em;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
select:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

button {
  padding: 0.5em 1em;
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

footer {
  background: linear-gradient(to right, #cad1d5, rgb(71, 115, 88));
  color: #3a3838;
  padding: 1px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}

footer a {
  margin-right: 20px;
}

.auth-container {
  max-width: 400px;
  margin: 8rem auto;  /* Center the container */
  padding: 100px;
  background-color: #e4e8ead3;
  border-radius: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auth-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding is included in width */
}

.password-input-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #67465b;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #5a3d4e;
}

button:focus {
  outline: none;
}

p {
  margin-top: 20px;
}


.volunteer {
 text-align: center; 
  padding: 20px;
  justify-content: center;
  margin-bottom: 40px;
}

.title-image {
  max-width: 300px;
  max-height: 400px;
  margin-right: 10px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: grid;
  margin-bottom: 1px;
}

input[type=""] {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #828587;
  color: rgb(32, 32, 38);
  cursor: pointer;
}

button:hover {
  background-color: #748fad;
}

.about-container {
  margin: 40px;
  padding: 50px;
  border: 3px solid #b0c36b;
  border-radius: 33px;
  background-color: #ececec;
  text-align: center;
  background: linear-gradient(to right, #b1c0ca, rgb(228, 235, 230));
}

.about-section {
  margin-bottom: 20px;
}

.about-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9;
}

.about-box h3 {
  margin-top: 0;
}

.about-box ul {
  list-style-type: none;
  padding: 0;
}

.about-box li {
  margin-bottom: 10px;
}

.about-box img {
  width: 450px;
  height: 350px;
  object-fit: cover;
  margin-bottom: 10px;
}

.resources-container {
  max-width: 4000px;
  margin: 0 auto;
  padding: 70px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr));
  grid-gap: 10px;
  background-image: url(./IMG_1346.jpeg);
  background-size: contain;
}

.section {
  padding: 40px;
  border: 4px solid #557a90;
  border-radius: 55px;
}

.section-title {
  font-size: 2rem;
  color: #432514;
  margin-bottom: 10px;
}

.section-text {
  font-size: 1rem;
  color: #0d0c0c;
}

.events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.search-form {
  margin-bottom: 20px;
}

.search-form label {
  margin-right: 10px;
}

.predefined-events,
.events-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.event-card {
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.event-card:hover {
  transform: translateY(-10px);
}

.event-image {
  width: 100%;
  height: auto;
  display: block;
}

.event-details {
  padding: 15px;
}

.event-details h3 {
  margin: 0 0 10px;
  font-size: 1.2em;
}

.event-details p {
  margin: 5px 0;
  color: #555;
}

.event-details a {
  color: #007BFF;
  text-decoration: none;
}

.event-details a:hover {
  text-decoration: underline;
}